<form class="form-group" action="/admin_add_author" method="post">
    <h2>Add an Author</h2>
    <label for='author'>Add Author Name (Last Name First Name):</label>
    <input class="form-control" id='author' name='author' type='text'><br>
    <button class="btn btn-lg btn-primary"type='submit'>Add Author</button>
</form>
